
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Heladeria</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/indice-Fichaje">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fichaje
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/indice-ListaCompras">
                <span class="oi oi-plus" aria-hidden="true"></span> Lista de compras
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/indice-Reportes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reportes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/indice-Productos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Productos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/indice-PedidosEspeciales">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pedidos Especiales
            </NavLink>
        </li>
        <li class="nav-item px-3" id="x">
            <NavLink class="nav-link" href="/indice-usuarios">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Administracion de usuarios
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
